/* calculatorstyle.css */

html {
    font-size: 50%;
    box-sizing: border-box;
    background-color: #131339;
}

.calculator {
border: 7px solid navajowhite;
border-radius: 5px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 550px;
}

.calculatorDisplay {
  width: 518px;
  height: 60px;
  border: none;
  padding-right: 25px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: navajowhite;
  color: black;
  text-align: right;
  font-size: 4rem;
}

.calculatorButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 15px;
    width: 520px;
    background-color: white;   
}

button {
    text-align: center;
    height: 30px;
    width: 100px;
    background-color: navajowhite;
    border-radius: 7px;
    border: 2.5px solid maroon;
    font-size: 2rem;
    font-family: Arial;
    color: black;
    margin: 1% 9%;
}

button:active {
    background-color: sandybrown;
    box-shadow: inset 2px 2px 2px 2px rgba(233, 227, 227, 0.144);
}

.operator {
    font-size: 2.5rem;
}

.equal-sign {  
    height: 100%;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 4;
    font-size: 6rem;
    background-color: #80bfff;
    border: 2px solid #0b0b44;
    border-radius: 6px;
}

.equal-sign:active {
    background-color: dodgerblue;
}

.pow {
    font-size: large;
}

.allClear {
    background-color: maroon;
    color: white;
    font-weight: bold;
    font-size: 21px;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: pink;
    font-size-adjust: auto;
    font-size: 8px;
    display: relative;
}

a:hover {
    color: white;
}

a:active {
    color: blue;
}